* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

body {
    font-family: sans-serif;
}

.app {
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 220px;
    background: #f0f0f0;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

.sidebar button {
    width: 180px;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    color: white;
    background: #34495e;
    font-size: 16px;
    height: 60px;
    cursor: pointer;
    transition: 0.3s;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tabs span.active {
    font-weight: bold;
    /* highlight active tab */
}

.tabs span {
    cursor: pointer;
    margin-right: 10px;
}

.sidebar button.active {
    background: #2ecc71;
}

.tokenboard {
    margin-top: 20px;
}

.token-slots {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.slot {
    width: 80px;
    height: 80px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.slot img {
    max-width: 100%;
    max-height: 100%;
}

.slot.drag-over {
    border-color: #000;
    background-color: #f9f9f9;
}

.sticker {
    margin-top: 20px;
}

.sticker img {
    width: 60px;
    cursor: grab;
    margin: 5px;
    border: 2px;
    border-radius: 8px;
}

.completion-message {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px;
    text-align: center;
    color: #333;
}

.completion-message span {
    display: inline-block;
    opacity: 0;
    animation: bounce-in 1s forwards;
    margin-right: 2px;
    text-align: center;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(20px);
    }
    60% {
        opacity: 1;
        transform: scale(1.2) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}