:root {
    --ui-scale: 1;
    --sidebar-scale: 1;
    --fontColor: #000000;
    --backgroundColor: #ffffff;
    --sidebarColor: #f0f0f0;
    --sidebarButtonColor: #34495e;
    --sidebarButtonCorrectColor: #2ecc71;
    --sidebarButtonFontColor: #ffffff;
}

#welcome-wrapper {
    transform: scale(var(--ui-scale));
    transform-origin: top left;
}
#soundboard-wrapper {
    transform: scale(var(--ui-scale));
    transform-origin: top left;
}
#tokenboard-wrapper {
    transform: scale(var(--ui-scale));
    transform-origin: top left;
}
#settings-wrapper {
    transform: scale(var(--ui-scale));
    transform-origin: top left;
}
#tts-wrapper {
    transform: scale(var(--ui-scale));
    transform-origin: top left;
}

#tab-wrapper {
    transform: scale(var(--sidebar-scale));
    transform-origin: top left;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

body {
    color: var(--fontColor);
    background-color: var(--backgroundColor);
    /* overflow: hidden; */
    font-family: sans-serif;
}

.app {
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 220px;
    background: var(--sidebarColor);
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fontColor);
}

.content {
    margin-left: 220px;
    padding: 20px;
}

.sidebar button {
    width: 180px;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    color: var(--sidebarButtonFontColor);
    background: var(--sidebarButtonColor);
    font-size: 16px;
    height: 60px;
    cursor: pointer;
    transition: 0.3s;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tabs span.active {
    font-weight: bold;
    /* highlight active tab */
}

.tabs span {
    cursor: pointer;
    margin-right: 10px;
}

.sidebar button.active {
    background: var(--sidebarButtonCorrectColor);
}

.tokenboard {
    margin-top: 20px;
}

.token-slots {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.slot {
    width: 80px;
    height: 80px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.slot img {
    max-width: 100%;
    max-height: 100%;
}

.slot.drag-over {
    border-color: #000;
    background-color: #f9f9f9;
}

.stickers img {
    width: 80px;
    height: 80px;
    margin: 5px;
    cursor: grab;
    border-radius: 8px;
    transition: transform 0.2s;
}

.stickers img:hover {
    transform: scale(1.1);
}

.completion-message {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px;
    text-align: center;
    color: var(--fontColor);
}

.completion-message span {
    display: inline-block;
    opacity: 0;
    animation: bounce-in 1s forwards;
    margin-right: 2px;
    text-align: center;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(20px);
    }
    60% {
        opacity: 1;
        transform: scale(1.2) translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.customization {
    margin-top: 25px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
}

.custom-upload {
    margin: 10px 0;
}

.custom-upload label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="file"] {
    border: none;
    background: #fff;
    padding: 5px;
    cursor: pointer;
}

.sound-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.sound-btn {
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
}

.sound-btn:hover {
    background: #45a049;
}

.delete-sound-btn {
    background: crimson;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#ttsText {
    width: 100%;
    height: 120px;
    border: 2px solid #ccc;
    border-radius: 8px;
    resize: vertical;
    font-size: 1.1;
    color: #333;
    box-sizing: border-box;
}

.setting-board {
    margin-top: 20px;
}

.setting-slots {
    display: block;
    margin: 20px 0;
}